* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
}

body {
    @extend %Fonts;
    background-color: $varBgc;
}

.container-lg {
    background-color: $varSiteC;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

/*.container-lg {
    background-color: $varSiteC;
    margin: 0 auto;
    height: 100%;
    @media all and (max-width: 576px) {
        width: 100%;
    }
    @media (min-width: 576px) and (max-width: 768px) {
        max-width: 540px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        max-width: 720px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}*/
.diliver {
    height: 5px;
    background-color: #81b300;
    margin: 0 -30px;
}

.top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 37px;
    .logo-text {
        color: #999999;
        font-size: 12px;
        line-height: 12px;
    }
    @media all and (max-width: 768px) {
        justify-content: center;
    }
}


.slider {
    background-color: #f2f2f2;
    margin: 0 -30px;
    padding: 31px;
    position: relative;
    .sliderPicture {
        height: 360px;
        background: url(../img/team-386673_1920.jpg) center center no-repeat;
        background-size: cover;
        border: 9px solid #fff;
        max-width: 880px;
        margin: 0 auto;
    }
    .paginationUl {
        margin-top: 15px;
        position: absolute;
        left: calc(50% - 75px);
        li {
            text-decoration: none;
            float: left;
            list-style-type: none;
        }
        .paginationLiFirst,
        .paginationLiLast {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .paginationLiFirst {
            background-image: url(../img/2-layers-2.png);
        }
        .paginationLiLast {
            background-image: url(../img/2-layers-3.png);
        }
        .paginationLi {
             width: 12px;
             height: 12px;
             background-color: #333333;
             border-radius: 50%;
            margin: 0 5px;
            margin-top: 4px;
            border: 1px solid black;
            &:hover {
                background-color: #fff;
            }
         }
    }
}
.slider:after {
    content: ' ';
    display: inline-block;
}

.aboutUs {
    .aboutUsInfo,
    .aboutUsProject {
        padding: 50px 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.diliver2 {
    max-width: 900px;
    height: 1px;
    background-color: #e2e2e2;
    margin: 20px auto;
}

